{% extends "base.html" %}

{% block title %} The Koziol's Home page{% endblock %}

{% block content %}



<section class="section-about">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="pray">
          <img src="../static/pictures/93cb5e0954273a6eecd0bb84a3743853.jpg" alt="Pray">
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel text-center text-white">
          <h1>About Me</h1>
          <p class="pt-4">
            I am a motivated and adaptable professional with a diverse skill set and a keen interest in continuous learning and development.
            My background in Information and Communication Technology (ICT) and experience as a Class 2 Driver have equipped me with strong problem-solving abilities, reliability, and excellent customer service skills.
            During my time as a Supervisor at shop,
            I demonstrated leadership qualities and meticulous attention to detail, ensuring a positive and organized work environment for my team.
            <p>
              What truly sets me apart is my proactive approach to expanding my skill set. Currently, I am actively enhancing my technical proficiency through Python programming and pursuing certifications in Linux and CISCO, demonstrating my commitment to staying abreast of the latest industry trends and technologies.
              Additionally, my proficiency in lab technical skills and computer assembly showcases my versatility and hands-on approach to challenges.
            </p>
            <p>
              Beyond my professional endeavors, I have a genuine interest in electrical engineering and am dedicated to maintaining personal fitness.
              These interests reflect my well-rounded personality and drive for personal growth.
              With excellent communication skills and fluency in both written and spoken Polish, I am confident in my ability to excel in diverse professional settings.
            </p>
            <p>
              Overall, I am a motivated and capable individual with a strong work ethic and genuine enthusiasm for taking on new challenges.
              My combination of technical expertise, interpersonal skills, and dedication make me a valuable asset to any team or organization.
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
  
</section>






{% endblock %}